language: ruby

# Run on new container infra
sudo: false
cache: bundler
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1
  - 2.2.3
before_script:
  - bundle exec berks install
script:
  - bundle exec rspec --color --format documentation
